<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selamat Datang di Sistem Diagnosis Demam Berdarah</title>

  <!-- Link ke file CSS -->
  <link rel="stylesheet" href="styles.css">

  <!-- Link ke Google Fonts untuk tipografi yang lebih baik -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Selamat Datang di Sistem Diagnosis Demam Berdarah</h1>
    <!-- Menambahkan gambar -->
    <img src="/images/nyamuk.jpg" alt="Demam Berdarah" style="max-width: 100%; height: auto; margin-bottom: 20px;">
    <p>Selamat datang di sistem diagnosis kami yang dirancang untuk membantu Anda mendeteksi apakah Anda mengalami gejala-gejala yang berhubungan dengan penyakit demam berdarah. Sistem ini akan meminta Anda untuk memilih gejala-gejala yang Anda alami, kemudian memberikan hasil diagnosis berdasarkan pilihan tersebut.</p>
    <p>Silakan login untuk memulai dan mendapatkan diagnosis lebih lanjut terkait penyakit demam berdarah.</p>


    <!-- Tombol untuk menuju halaman login -->
    <a href="/login">
      <button class="button">Login</button>
    </a>
  </div>
</body>
</html>
